/* GLOBAL */
body {
background: #f7f7f7;
color: #333;
line-height: 1.6;
}


.container {
max-width: 1100px;
margin: auto;
padding: 20px;
}


/* HEADER */
.header {
background: #fff;
border-bottom: 1px solid #ddd;
position: sticky;
top: 0;
z-index: 10;
}